# 1\. Ny Database

## 1.1 Slet Databasen (hvis det ønskes)

In [24]:
-- Connect to the 'master' database to run this snippet
USE master
GO

IF EXISTS (
    SELECT [name]
        FROM sys.databases
        WHERE [name] = N'Eksamensopgave_jernbaneforvalter'
)
DROP DATABASE Eksamensopgave_jernbaneforvalter
GO

## 1.2 Lav en ny Database

In [26]:
-- Connect to the 'master' database to run this snippet
USE master
GO
-- Create the new database if it does not exist already
IF NOT EXISTS (
    SELECT [name]
        FROM sys.databases
        WHERE [name] = N'Eksamensopgave_jernbaneforvalter'
)
CREATE DATABASE Eksamensopgave_jernbaneforvalter
GO

# 2\. Tabeller i Databasen

## 2.1 Banenumre

### 2.1.1 Tabel med idikation om det er Fjern eller S-Bane

In [27]:
-- Fjern eller S-Bane tabel '[fjernellersbanetabel]'

USE [Eksamensopgave_jernbaneforvalter]

-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[fjernellersbanetabel]', 'U') IS NOT NULL
DROP TABLE [dbo].[fjernellersbanetabel]
GO

CREATE TABLE [dbo].[fjernellersbanetabel]
(
    [FjernellersbaneID] INT NOT NULL PRIMARY KEY, 
    [Fjernellersbane] VARCHAR(10) UNIQUE NOT NULL
);
GO

-- Insert rows into table
INSERT INTO [dbo].[fjernellersbanetabel]
(
 [FjernellersbaneID], [Fjernellersbane]
)
VALUES
(1, 'FJERN'),
(2, 'SBANE')

-- View a sample from the table
SELECT TOP(10) [FjernellersbaneID], [Fjernellersbane]
FROM [dbo].[fjernellersbanetabel]
ORDER BY FjernellersbaneID

FjernellersbaneID,Fjernellersbane
1,FJERN
2,SBANE

### 2.1.2 Tabel med indikation om det er en statslig eller privat bane

In [28]:
-- Statslig eller privat bane '[statsligellerprivattabel]'

USE [Eksamensopgave_jernbaneforvalter]

-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[statsligellerprivattabel]', 'U') IS NOT NULL
DROP TABLE [dbo].[statsligellerprivattabel]
GO

CREATE TABLE [dbo].[statsligellerprivattabel]
(
    [StatsligellerprivatID] INT NOT NULL PRIMARY KEY, 
    [Statsligellerprivat] VARCHAR(10) UNIQUE NOT NULL
);
GO

-- Insert rows into table
INSERT INTO [dbo].[statsligellerprivattabel]
(
 [StatsligellerprivatID], [Statsligellerprivat]
)
VALUES
(1, 'STATSLIG'),
(2, 'PRIVAT')

-- View a sample from the table
SELECT TOP(10) [StatsligellerprivatID], [Statsligellerprivat]
FROM [dbo].[statsligellerprivattabel]
ORDER BY StatsligellerprivatID

StatsligellerprivatID,Statsligellerprivat
1,STATSLIG
2,PRIVAT

### 2.1.3 Tabel med placeringer i Danmark

In [29]:
-- Placering i Danmark '[placeringdanmarktabel]'

USE [Eksamensopgave_jernbaneforvalter]

-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[placeringdanmarktabel]', 'U') IS NOT NULL
DROP TABLE [dbo].[placeringdanmarktabel]
GO

CREATE TABLE [dbo].[placeringdanmarktabel]
(
    [PlaceringID] INT NOT NULL PRIMARY KEY, 
    [Placering] NVARCHAR(50) UNIQUE NOT NULL
);
GO

-- Insert rows into table
INSERT INTO [dbo].[placeringdanmarktabel]
(
 [PlaceringID], [Placering]
)
VALUES
(1, N'Hovedstadsområdet'),
(2, N'København'),
(3, N'Nordsjælland'),
(4, N'Sydsjælland'),
(5, N'Midtsjælland'),
(6, N'Vestsjælland'),
(7, N'Storbælt'),
(8, N'Femern'),
(9, N'Midtfyn'),
(10, N'Sydfyn'),
(11, N'Sydjylland'),
(12, N'Midtvestjylland'),
(13, N'Midtøstjylland'),
(14, N'Nordjylland')


-- View a sample from the table
SELECT TOP(10) [PlaceringID], [Placering]
FROM [dbo].[placeringdanmarktabel]
ORDER BY PlaceringID

PlaceringID,Placering
1,Hovedstadsområdet
2,København
3,Nordsjælland
4,Sydsjælland
5,Midtsjælland
6,Vestsjælland
7,Storbælt
8,Femern
9,Midtfyn
10,Sydfyn

### 2.1.4 Tabel med alle Banenumre i Danmark (csv import)

In [ ]:
-- Denne del skal bruges kun hvis man vil fylde tabellen manuelt

-- Alle Banenumre '[allebanenumretabel]'

/*
USE [Eksamensopgave_jernbaneforvalter]

-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[allebanenumretabel]', 'U') IS NOT NULL
DROP TABLE [dbo].[allebanenumretabel]
GO




CREATE TABLE [dbo].[allebanenumretabel]
(
    [Banenummer] INT NOT NULL PRIMARY KEY, 
    [FjernellersbaneID] INT FOREIGN KEY REFERENCES fjernellersbanetabel(FjernellersbaneID),
    [StatsligellerprivatID] INT FOREIGN KEY REFERENCES statsligellerprivattabel(StatsligellerprivatID),
    [PlaceringID] INT FOREIGN KEY REFERENCES placeringdanmarktabel(PlaceringID) 
    
);
GO



-- Insert rows into table 
INSERT INTO [dbo].[allebanenumretabel]
(
 [Banenummer], [FjernellersbaneID], [StatsligellerprivatID], [PlaceringID]
)
VALUES
(1, 1, 1, 1),
(2, 2, 1, 2),
(3, 1, 1, 4),
(4, 1, 1, 8)



-- View a sample from the table
SELECT TOP(10) [Banenummer], [FjernellersbaneID], [StatsligellerprivatID], [PlaceringID]
FROM [dbo].[allebanenumretabel]
GO
*/

In [1]:
-- dbo.allebanenumretabel blev importeret ved hjælp af "SQL Server Import 1.3.0". Data var lagret i en csv fil.

-- Importeringsværktøjet har sørget for Primary Key og datatyper. 

-- Nu skal der tilføjes de foreign keys der mangler

USE [Eksamensopgave_jernbaneforvalter]

ALTER TABLE allebanenumretabel
ADD FOREIGN KEY (FjernellersbaneID) REFERENCES fjernellersbanetabel(FjernellersbaneID),
    FOREIGN KEY (StatsligellerprivatID) REFERENCES statsligellerprivattabel(StatsligellerprivatID),
    FOREIGN KEY (PlaceringID) REFERENCES placeringdanmarktabel(PlaceringID);

-- View a sample from the table
SELECT TOP(10) [Banenummer], [FjernellersbaneID], [StatsligellerprivatID], [PlaceringID]
FROM [dbo].[allebanenumretabel]
ORDER BY [Banenummer]

Banenummer,FjernellersbaneID,StatsligellerprivatID,PlaceringID
1,1,1,1
2,1,1,1
3,1,1,1
4,1,1,2
5,1,1,2
6,1,1,2
7,1,1,3
8,1,1,3
9,1,1,3
10,1,1,4

### 2.1.5 Banenummertabellen med alt info (brugervenlig)

In [2]:
-- Vis en sample-tabel med nogle banenumre og deres placering, om de er statslige eller private og til sidst om de er Fjern eller S-bane

-- Drop the stored procedure called 'stp_getallbanenumre' in schema 'dbo'
IF EXISTS (
SELECT *
    FROM INFORMATION_SCHEMA.ROUTINES
WHERE SPECIFIC_SCHEMA = N'dbo'
    AND SPECIFIC_NAME = N'stp_getallbanenumre'
)
DROP PROCEDURE dbo.stp_getallbanenumre
GO

-- Create a new stored procedure
CREATE PROCEDURE stp_getallbanenumre @i INT
AS
    SELECT TOP(@i) a.Banenummer, p.Placering, f.fjernellersbane, s.Statsligellerprivat
    FROM [Eksamensopgave_jernbaneforvalter].[dbo].[allebanenumretabel] AS a
    LEFT OUTER JOIN [Eksamensopgave_jernbaneforvalter].[dbo].[placeringdanmarktabel] AS p ON a.PlaceringID = p.PlaceringID
    LEFT OUTER JOIN [Eksamensopgave_jernbaneforvalter].[dbo].[fjernellersbanetabel] AS f ON a.FjernellersbaneID = f.FjernellersbaneID
    LEFT OUTER JOIN [Eksamensopgave_jernbaneforvalter].[dbo].[statsligellerprivattabel] AS s ON a.StatsligellerprivatID = s.StatsligellerprivatID
    ORDER BY a.Banenummer
GO

EXEC stp_getallbanenumre @i = 5;

Banenummer,Placering,fjernellersbane,Statsligellerprivat
1,Hovedstadsområdet,FJERN,STATSLIG
2,Hovedstadsområdet,FJERN,STATSLIG
3,Hovedstadsområdet,FJERN,STATSLIG
4,København,FJERN,STATSLIG
5,København,FJERN,STATSLIG

## 2.2 Equipment (Udstyr)

### 2.2.1 Tabel med alle producenter

In [15]:
-- Producent tabel '[producenttabel]'

USE [Eksamensopgave_jernbaneforvalter]

-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[producenttabel]', 'U') IS NOT NULL
DROP TABLE [dbo].[producenttabel]
GO

CREATE TABLE [dbo].[producenttabel]
(
    [ProducentID] INT NOT NULL PRIMARY KEY, 
    [Producent] NVARCHAR(50) UNIQUE NOT NULL
);
GO

-- Insert rows into table
INSERT INTO [dbo].[producenttabel]
(
 [ProducentID], [Producent]
)
VALUES
(1, N'Sagittarius A star Industries'),
(2, N'Neptune Train Corp'),
(3, N'Einstein Rosen Bridge Infrastracture')

-- View a sample from the table
SELECT TOP(10) [ProducentID], [Producent]
FROM [dbo].[producenttabel]
ORDER BY ProducentID

ProducentID,Producent
1,Sagittarius A star Industries
2,Neptune Train Corp
3,Einstein Rosen Bridge Infrastracture

### 2.2.2 Tabel med alle Equipmentart (udstyrstyper)

In [16]:
-- Equipment art tabel '[equipmentarttabel]'

USE [Eksamensopgave_jernbaneforvalter]

-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[equipmentarttabel]', 'U') IS NOT NULL
DROP TABLE [dbo].[equipmentarttabel]
GO

CREATE TABLE [dbo].[equipmentarttabel]
(
    [EquipmentartID] INT NOT NULL PRIMARY KEY, 
    [Equipmentart] NVARCHAR(50) UNIQUE NOT NULL
);
GO

-- Insert rows into table
INSERT INTO [dbo].[equipmentarttabel]
(
 [EquipmentartID], [Equipmentart]
)
VALUES
(1 ,N'AccessPoint'), (2 ,N'Adgangskontrol'), (3 ,N'Afvandingsanlæg'), (4 ,N'Akseltæller'), (5 ,N'Balise'), (6 ,N'Ballast'), (7 ,N'Batteri/akkumulator'), (8 ,N'Betjeningsapparat'), (9 ,N'Betjeningskasse'), (10 ,N'Bom/Bomdrev'), (11 ,N'Brandsikringsanlæg'), (12 ,N'Fjernstyringsunderst'), (13 ,N'Generatoranlæg'), (14 ,N'Hegn'), (15 ,N'Hovedtavle'), (16 ,N'Isolerklæbestød'), (17 ,N'Kabelanlæg'), (18 ,N'Køreledning'), (19 ,N'Mellemparti(spsk)'), (20 ,N'Mellemskinne(spsk)'), (21 ,N'Overkørselsanlæg'), (22 ,N'Perronbelysning'), (23 ,N'Server'), (24 ,N'Sideskinne(spsk)'), (25 ,N'Signal'), (26 ,N'Skinner'), (27 ,N'Sporskifte'), (28 ,N'Sporskiftedrev'), (29 ,N'Spskvarme'), (30 ,N'Stationssikringsanlæg'), (31 ,N'Støjskærme'), (32 ,N'Sveller'), (33 ,N'Togdetektering'), (34 ,N'Varslingsanlæg'), (35 ,N'Køle/Ventilationsanlæg')

-- View a sample from the table
SELECT TOP(10) [EquipmentartID], [Equipmentart]
FROM [dbo].[equipmentarttabel]
ORDER BY EquipmentartID

EquipmentartID,Equipmentart
1,AccessPoint
2,Adgangskontrol
3,Afvandingsanlæg
4,Akseltæller
5,Balise
6,Ballast
7,Batteri/akkumulator
8,Betjeningsapparat
9,Betjeningskasse
10,Bom/Bomdrev

### 2.2.3 Tabel med alle modelnumre af udstyr (csv import)

In [32]:
-- dbo.allemodelnumretabel blev importeret ved hjælp af "SQL Server Import 1.3.0". Data var lagret i en csv fil.

-- Importeringsværktøjet har sørget for Primary Key og datatyper. 

-- Nu skal der tilføjes de foreign keys der mangler

USE [Eksamensopgave_jernbaneforvalter]

ALTER TABLE allemodelnumretabel
ADD FOREIGN KEY (EquipmentartID) REFERENCES equipmentarttabel(EquipmentartID),
    FOREIGN KEY (ProducentID) REFERENCES producenttabel(ProducentID);

-- View a sample from the table
SELECT TOP(10) [Modelnummer], [EquipmentartID], [ProducentID], [Anvendelsesaar]
FROM [dbo].[allemodelnumretabel]
ORDER BY Modelnummer

Modelnummer,EquipmentartID,ProducentID,Anvendelsesaar
B22024A,1,2,2010
B22025A,1,3,2015
B22026A,2,1,1990
B22027A,2,2,2010
B22028A,2,3,2015
B22029A,3,1,1990
B22030A,3,2,2010
B22031A,3,3,2015
B22032A,4,1,1990
B22033A,4,2,2010

### 2.2.4 Alle modelnumre med alt info (brugervenlig)

In [19]:
-- Vis en sample-tabel med nogle modelnumre og deres art, producent og anvendelsesår

-- Drop the stored procedure called 'stp_getallmodelnumre' in schema 'dbo'

USE [Eksamensopgave_jernbaneforvalter]

IF EXISTS (
SELECT *
    FROM INFORMATION_SCHEMA.ROUTINES
WHERE SPECIFIC_SCHEMA = N'dbo'
    AND SPECIFIC_NAME = N'stp_getallmodelnumre'
)
DROP PROCEDURE dbo.stp_getallmodelnumre
GO

-- Create a new stored procedure
CREATE PROCEDURE stp_getallmodelnumre @i INT
AS
    SELECT TOP(@i) a.Modelnummer, e.Equipmentart, p.Producent, a.Anvendelsesaar
    FROM [Eksamensopgave_jernbaneforvalter].[dbo].[allemodelnumretabel] AS a
    LEFT OUTER JOIN [Eksamensopgave_jernbaneforvalter].[dbo].[producenttabel] AS p ON a.ProducentID = p.ProducentID
    LEFT OUTER JOIN [Eksamensopgave_jernbaneforvalter].[dbo].[equipmentarttabel] AS e ON a.EquipmentartID = e.EquipmentartID
    ORDER BY a.Modelnummer
GO

EXEC stp_getallmodelnumre @i = 5;

Modelnummer,Equipmentart,Producent,Anvendelsesaar
B22024A,AccessPoint,Neptune Train Corp,2010
B22025A,AccessPoint,Einstein Rosen Bridge Infrastracture,2015
B22026A,Adgangskontrol,Sagittarius A star Industries,1990
B22027A,Adgangskontrol,Neptune Train Corp,2010
B22028A,Adgangskontrol,Einstein Rosen Bridge Infrastracture,2015

## 2.3 Medarbejdere

### 2.3.1 Tabel med jobfuktioner

In [6]:
-- Jobfunktioner tabel '[jobfunktiontabel]'

USE [Eksamensopgave_jernbaneforvalter]

-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[jobfunktiontabel]', 'U') IS NOT NULL
DROP TABLE [dbo].[jobfunktiontabel]
GO

CREATE TABLE [dbo].[jobfunktiontabel]
(
    [JobfunktionID] INT NOT NULL PRIMARY KEY, 
    [Jobfunktion] NVARCHAR(50) UNIQUE NOT NULL
);
GO

-- Insert rows into table
INSERT INTO [dbo].[jobfunktiontabel]
(
 [JobfunktionID], [Jobfunktion]
)
VALUES
(1, N'El-tekniker'),
(2, N'El-Ingeniør'),
(3, N'Spor-tekniker'),
(4, N'Spor-Ingeniør'),
(5, N'IT-tekniker'),
(6, N'IT-Ingeniør')

-- View a sample from the table
SELECT TOP(10) [JobfunktionID], [Jobfunktion]
FROM [dbo].[jobfunktiontabel]
ORDER BY JobfunktionID

JobfunktionID,Jobfunktion
1,El-tekniker
2,El-Ingeniør
3,Spor-tekniker
4,Spor-Ingeniør
5,IT-tekniker
6,IT-Ingeniør

### 2.3.2 Tabel med alle afdelinger

In [7]:
-- Afdelinger tabel '[afdelingtabel]'

USE [Eksamensopgave_jernbaneforvalter]

-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[afdelingtabel]', 'U') IS NOT NULL
DROP TABLE [dbo].[afdelingtabel]
GO

CREATE TABLE [dbo].[afdelingtabel]
(
    [AfdelingID] INT NOT NULL PRIMARY KEY, 
    [Afdeling] NVARCHAR(50) UNIQUE NOT NULL,
    [Leder] INT NOT NULL -- Det vil blive til en Foreign Key senere (som pejer til en bestemt medarbejder)
    
);
GO

-- Insert rows into table
INSERT INTO [dbo].[afdelingtabel]
(
 [AfdelingID], [Afdeling], [Leder]
)
VALUES
(1, N'Signalsystemer', 4906),
(2, N'Sporkonstruktioner', 4907),
(3, N'IT-Drift', 4905)

-- View a sample from the table
SELECT TOP(10) [AfdelingID], [Afdeling], [Leder]
FROM [dbo].[afdelingtabel]
ORDER BY AfdelingID

AfdelingID,Afdeling,Leder
1,Signalsystemer,4906
2,Sporkonstruktioner,4907
3,IT-Drift,4905

### 2.3.3 Tabel med alle medarbejdere (csv import)

In [9]:
-- dbo.allemedarbejderetabel blev importeret ved hjælp af "SQL Server Import 1.3.0". Data var lagret i en csv fil.

-- Importeringsværktøjet har sørget for Primary Key og datatyper. 

-- Nu skal der tilføjes de foreign keys der mangler

USE [Eksamensopgave_jernbaneforvalter]

ALTER TABLE allemedarbejderetabel
ADD FOREIGN KEY (JobfunktionID) REFERENCES jobfunktiontabel(JobfunktionID),
    FOREIGN KEY (AfdelingID) REFERENCES afdelingtabel(AfdelingID);

-- View a sample from the table
SELECT TOP(10) [Medarbejdernummer], [Title], [Navn], [Middelnavn], [Efternavn], [JobfunktionID], [AfdelingID]
FROM [dbo].[allemedarbejderetabel]
ORDER BY Medarbejdernummer

Medarbejdernummer,Title,Navn,Middelnavn,Efternavn,JobfunktionID,AfdelingID
4885,NULL,Ken,J,Sanchez,4,2
4886,NULL,Terri,Lee,Duffy,3,2
4887,NULL,Roberto,NULL,Tamburello,2,1
4888,NULL,Rob,NULL,Walters,4,2
4889,Ms.,Gail,A,Erickson,2,1
4890,Mr.,Jossef,H,Goldberg,1,1
4891,NULL,Dylan,A,Miller,3,2
4892,NULL,Diane,L,Margheim,1,1
4893,NULL,Gigi,N,Matthew,1,1
4894,NULL,Michael,NULL,Raheem,3,2

In [11]:
-- Tilføj et Foreign Key til afdelingtabellen. Lederkolonnen skal pege på Medarbejdernummer kolonnen i dbo.allemedarbejderetabel.

USE [Eksamensopgave_jernbaneforvalter]

ALTER TABLE afdelingtabel
ADD FOREIGN KEY (Leder) REFERENCES allemedarbejderetabel(Medarbejdernummer);

-- View a sample from the table
SELECT TOP(10) [AfdelingID], [Afdeling], [Leder]
FROM [dbo].[afdelingtabel]
ORDER BY AfdelingID

AfdelingID,Afdeling,Leder
1,Signalsystemer,4906
2,Sporkonstruktioner,4907
3,IT-Drift,4905

### 2.3.4 Medarbejdere med alt info (brugervenlig)

In [20]:
-- Vis en sample-tabel med nogle medarbejdere og jobfunktion, afdeling og leder

-- Drop the stored procedure called 'stp_getallmedarbejdere' in schema 'dbo'
USE [Eksamensopgave_jernbaneforvalter]

IF EXISTS (
SELECT *
    FROM INFORMATION_SCHEMA.ROUTINES
WHERE SPECIFIC_SCHEMA = N'dbo'
    AND SPECIFIC_NAME = N'stp_getallmedarbejdere'
)
DROP PROCEDURE dbo.stp_getallmedarbejdere
GO

-- Create a new stored procedure
CREATE PROCEDURE stp_getallmedarbejdere @i INT
AS
    ;WITH
    AfdWithMng AS(
        SELECT 
            afd.AfdelingID,
            afd.Afdeling,
            ISNULL(mrb.Title + ' ', '') + ISNULL(mrb.Navn + ' ', '') + ISNULL(mrb.Middelnavn + ' ', '') + ISNULL(mrb.Efternavn + ' ', '') AS [LederensNavn]
        FROM [Eksamensopgave_jernbaneforvalter].[dbo].[afdelingtabel] AS afd
        LEFT OUTER JOIN [Eksamensopgave_jernbaneforvalter].[dbo].[allemedarbejderetabel] AS mrb ON afd.Leder = mrb.Medarbejdernummer
    )
    SELECT TOP(@i) a.Medarbejdernummer, 
        ISNULL(a.Title + ' ', '') + ISNULL(a.Navn + ' ', '') + ISNULL(a.Middelnavn + ' ', '') + ISNULL(a.Efternavn + ' ', '') AS [Fuldnavn],
        j.Jobfunktion,
        afmgr.Afdeling,
        afmgr.LederensNavn
    FROM [Eksamensopgave_jernbaneforvalter].[dbo].[allemedarbejderetabel] AS a
    LEFT OUTER JOIN [Eksamensopgave_jernbaneforvalter].[dbo].[jobfunktiontabel] AS j ON a.JobfunktionID = j.JobfunktionID
    LEFT OUTER JOIN AfdWithMng AS afmgr ON a.AfdelingID = afmgr.AfdelingID
    ORDER BY a.Medarbejdernummer;
GO

EXEC stp_getallmedarbejdere @i = 5;

Medarbejdernummer,Fuldnavn,Jobfunktion,Afdeling,LederensNavn
4885,Ken J Sanchez,Spor-Ingeniør,Sporkonstruktioner,Mary E Gibson
4886,Terri Lee Duffy,Spor-tekniker,Sporkonstruktioner,Mary E Gibson
4887,Roberto Tamburello,El-Ingeniør,Signalsystemer,Sariya E Harnpadoungsataya
4888,Rob Walters,Spor-Ingeniør,Sporkonstruktioner,Mary E Gibson
4889,Ms. Gail A Erickson,El-Ingeniør,Signalsystemer,Sariya E Harnpadoungsataya

## 2.4 Drifstrapporter

### 2.4.1 Tabel med fejlprioriteringer

In [12]:
-- Fejlprioritering '[fejlprioritettabel]'

USE [Eksamensopgave_jernbaneforvalter]

-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[fejlprioritettabel]', 'U') IS NOT NULL
DROP TABLE [dbo].[fejlprioritettabel]
GO

CREATE TABLE [dbo].[fejlprioritettabel]
(
    [FejlprioritetID] INT NOT NULL PRIMARY KEY, 
    [Fejlprioritet] NVARCHAR(50) UNIQUE NOT NULL
    
);
GO

-- Insert rows into table
INSERT INTO [dbo].[fejlprioritettabel]
(
 [FejlprioritetID], [Fejlprioritet]
)
VALUES
(1, N'Fatal'),
(2, N'Forstyrrende'),
(3, N'Generende'),
(4, N'Vagt ej tilkaldt')

-- View a sample from the table
SELECT TOP(10) [FejlprioritetID], [Fejlprioritet]
FROM [dbo].[fejlprioritettabel]
ORDER BY FejlprioritetID

FejlprioritetID,Fejlprioritet
1,Fatal
2,Forstyrrende
3,Generende
4,Vagt ej tilkaldt

### 2.4.2 Tabel med alle driftsrapporter

In [6]:
-- dbo.alledriftsrapportertabel blev importeret ved hjælp af "SQL Server Import 1.3.0". Data var lagret i en csv fil.

-- Importeringsværktøjet har sørget for Primary Key og datatyper. 

-- Der oprettes en driftsrapport for hver modelnummer der går i stykker i et given tidspunkt, på et Banenummer

-- Nu skal der tilføjes de foreign keys der mangler

USE [Eksamensopgave_jernbaneforvalter]

ALTER TABLE alledriftsrapportertabel
ADD FOREIGN KEY (Banenummer) REFERENCES allebanenumretabel(Banenummer),
    FOREIGN KEY (Modelnummer) REFERENCES allemodelnumretabel(Modelnummer),
    FOREIGN KEY (FejlprioritetID) REFERENCES fejlprioritettabel(FejlprioritetID);

-- View a sample from the table
SELECT TOP(10) [Driftsrapportnummer], [Banenummer], [Modelnummer], [FejlprioritetID], [Fejlmeldingsdato_og_tid], [Udbedringsdato_og_tid], [Kommentar]
FROM [dbo].[alledriftsrapportertabel]
ORDER BY Driftsrapportnummer

Driftsrapportnummer,Banenummer,Modelnummer,FejlprioritetID,Fejlmeldingsdato_og_tid,Udbedringsdato_og_tid,Kommentar
1,34,B22110H,1,2017-01-01 02.04.00.0000000,2017-01-01 03.42.00.0000000,NULL
2,5,B22111H,1,2017-01-01 06.53.00.0000000,2017-01-01 13.06.00.0000000,NULL
3,5,B22035A,2,2017-01-01 07.48.00.0000000,2017-01-05 12.41.41.0000000,NULL
4,5,B22120H,1,2017-01-01 08.02.00.0000000,2017-01-01 10.05.47.0000000,NULL
5,111,B22084G,1,2017-01-01 08.06.00.0000000,2017-01-20 09.00.00.0000000,NULL
6,30,B22120H,1,2017-01-01 09.13.00.0000000,2017-01-02 12.22.25.0000000,NULL
7,19,B22120H,1,2017-01-01 14.35.00.0000000,2017-01-01 18.48.00.0000000,NULL
8,7,B22120H,1,2017-01-01 17.33.00.0000000,2017-01-02 20.07.04.0000000,NULL
9,10,B22112H,1,2017-01-01 20.33.00.0000000,2017-01-02 00.40.00.0000000,NULL
10,21,B22104H,1,2017-01-01 21.52.00.0000000,2017-01-02 23.02.35.0000000,NULL

### 2.4.3 Driftsrapporter med alt info (brugervenlig)

In [26]:
-- Vis en sample-tabel med nogle Driftsrapporter og deres pågældende banenummer, equipment art, fejlprioritet, datoer og kommentar

-- Drop the stored procedure called 'stp_getalldriftsrapporter' in schema 'dbo'
USE [Eksamensopgave_jernbaneforvalter]

IF EXISTS (
SELECT *
    FROM INFORMATION_SCHEMA.ROUTINES
WHERE SPECIFIC_SCHEMA = N'dbo'
    AND SPECIFIC_NAME = N'stp_getalldriftsrapporter'
)
DROP PROCEDURE dbo.stp_getalldriftsrapporter
GO

-- Create a new stored procedure
CREATE PROCEDURE stp_getalldriftsrapporter @i INT
AS
    ;WITH 
    tempbanenummertabel AS (
        SELECT a.Banenummer, f.Fjernellersbane, s.Statsligellerprivat, p.Placering
        FROM [Eksamensopgave_jernbaneforvalter].[dbo].[allebanenumretabel] AS a
        LEFT OUTER JOIN [Eksamensopgave_jernbaneforvalter].[dbo].[fjernellersbanetabel] AS f ON a.FjernellersbaneID = f.FjernellersbaneID
        LEFT OUTER JOIN [Eksamensopgave_jernbaneforvalter].[dbo].[statsligellerprivattabel] AS s ON a.StatsligellerprivatID = s.StatsligellerprivatID
        LEFT OUTER JOIN [Eksamensopgave_jernbaneforvalter].[dbo].[placeringdanmarktabel] AS p ON a.PlaceringID = p.PlaceringID
    ),
    tempmodelnummertabel AS (
        SELECT a.Modelnummer, e.Equipmentart, p.Producent, a.Anvendelsesaar
        FROM [Eksamensopgave_jernbaneforvalter].[dbo].[allemodelnumretabel] AS a
        LEFT OUTER JOIN [Eksamensopgave_jernbaneforvalter].[dbo].[producenttabel] AS p ON a.ProducentID = p.ProducentID
        LEFT OUTER JOIN [Eksamensopgave_jernbaneforvalter].[dbo].[equipmentarttabel] AS e ON a.EquipmentartID = e.EquipmentartID
    )    
    SELECT TOP(@i) a.Driftsrapportnummer, 
        a.Banenummer, 
        tmpbnr.Fjernellersbane, 
        tmpbnr.Statsligellerprivat, 
        tmpbnr.Placering,
        a.Modelnummer,
        tmpmdlnr.Equipmentart,
        tmpmdlnr.Producent,
        tmpmdlnr.Anvendelsesaar,
        fp.Fejlprioritet,
        a.Fejlmeldingsdato_og_tid,
        a.Udbedringsdato_og_tid
    FROM [Eksamensopgave_jernbaneforvalter].[dbo].[alledriftsrapportertabel] AS a
    LEFT OUTER JOIN tempbanenummertabel AS tmpbnr ON a.Banenummer = tmpbnr.Banenummer
    LEFT OUTER JOIN tempmodelnummertabel AS tmpmdlnr ON a.Modelnummer = tmpmdlnr.Modelnummer
    LEFT OUTER JOIN [Eksamensopgave_jernbaneforvalter].[dbo].[fejlprioritettabel] AS fp ON a.FejlprioritetID = fp.FejlprioritetID
    ORDER BY a.Driftsrapportnummer
GO

EXEC stp_getalldriftsrapporter @i = 5;

Driftsrapportnummer,Banenummer,Fjernellersbane,Statsligellerprivat,Placering,Modelnummer,Equipmentart,Producent,Anvendelsesaar,Fejlprioritet,Fejlmeldingsdato_og_tid,Udbedringsdato_og_tid
1,34,FJERN,STATSLIG,Sydjylland,B22110H,Stationssikringsanlæg,Sagittarius A star Industries,1990,Fatal,2017-01-01 02.04.00.0000000,2017-01-01 03.42.00.0000000
2,5,FJERN,STATSLIG,København,B22111H,Stationssikringsanlæg,Neptune Train Corp,2010,Fatal,2017-01-01 06.53.00.0000000,2017-01-01 13.06.00.0000000
3,5,FJERN,STATSLIG,København,B22035A,Balise,Sagittarius A star Industries,1990,Forstyrrende,2017-01-01 07.48.00.0000000,2017-01-05 12.41.41.0000000
4,5,FJERN,STATSLIG,København,B22120H,Togdetektering,Neptune Train Corp,2010,Fatal,2017-01-01 08.02.00.0000000,2017-01-01 10.05.47.0000000
5,111,FJERN,PRIVAT,Vestsjælland,B22084G,Overkørselsanlæg,Neptune Train Corp,2010,Fatal,2017-01-01 08.06.00.0000000,2017-01-20 09.00.00.0000000

## 2.5 Medarbejdere per drifstrapport og de antal timer de har arbejdet

In [29]:
-- dbo.medarbejdereperdriftstrapporttabel blev importeret ved hjælp af "SQL Server Import 1.3.0". Data var lagret i en csv fil.

-- Importeringsværktøjet har sørget for Primary Key og datatyper. 

-- Nu skal der tilføjes de foreign keys der mangler

USE [Eksamensopgave_jernbaneforvalter]

ALTER TABLE medarbejdereperdriftstrapporttabel
ADD FOREIGN KEY (Driftsrapportnummer) REFERENCES alledriftsrapportertabel(Driftsrapportnummer),
    FOREIGN KEY (Medarbejdernummer) REFERENCES allemedarbejderetabel(Medarbejdernummer);

-- View a sample from the table
SELECT TOP(10) [Driftsrapportnummer], [Medarbejdernummer], [Antaltimer]
FROM [dbo].[medarbejdereperdriftstrapporttabel]
ORDER BY Driftsrapportnummer

Driftsrapportnummer,Medarbejdernummer,Antaltimer
1,5065,1
1,5756,1
2,5373,5
2,5809,5
3,4963,50
3,5590,50
4,5278,1
4,5479,1
5,5229,406
5,5806,406